{
  "MYSQL_USER": "[YOUR_MYSQL_USERNAME]",
  "MYSQL_PASSWORD": "[YOUR_MYSQL_PASSWORD]",
  "MYSQL_HOST": "127.0.0.1",
  "MONGO_URL": "[YOUR_MONGODB_URL]",
  "GCLOUD_PROJECT": "[YOUR_GCP_PROJECT_ID]",
  "CLOUD_BUCKET": "[YOUR_BUCKET_NAME]",
  "OAUTH2_CLIENT_ID": "[YOUR_OAUTH2_CLIENT_ID]",
  "OAUTH2_CLIENT_SECRET": "[YOUR_OAUTH2_CLIENT_SECRET]",
  "OAUTH2_CALLBACK": "[YOUR_OAUTH2_CALLBACK_URL]",
  "DATA_BACKEND": "datastore",
  "TOPIC_NAME": "[YOUR_PUBSUB_TOPIC_NAME]",
  "SUBSCRIPTION_NAME": "[YOUR_PUBSUB_SUBSCRIPTION_NAME]",
  "COOKIE_STORE_SECRET": "[YOUR_COOKIE_STORE_SECRET]"
}
