# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-go-admins team is the default owner for anything not
# explicitly taken by someone else.
*                                     @GoogleCloudPlatform/yoshi-go-admins

/bigtable/                            @GoogleCloudPlatform/yoshi-go-admins @GoogleCloudPlatform/cloud-native-db-dpes
/cloudsql/                            @GoogleCloudPlatform/yoshi-go-admins @GoogleCloudPlatform/infra-db-dpes
/datastore/                           @GoogleCloudPlatform/yoshi-go-admins @GoogleCloudPlatform/cloud-native-db-dpes
/errorreporting/                      @GoogleCloudPlatform/yoshi-go-admins @GoogleCloudPlatform/observability-devx
/firestore/                           @GoogleCloudPlatform/yoshi-go-admins @GoogleCloudPlatform/cloud-native-db-dpes
/logging/                             @GoogleCloudPlatform/yoshi-go-admins @GoogleCloudPlatform/observability-devx
/storage/                             @GoogleCloudPlatform/yoshi-go-admins @GoogleCloudPlatform/cloud-storage-dpes
/iot/                                 @GoogleCloudPlatform/yoshi-go-admins @gcseh @GoogleCloudPlatform/api-iot
