go 1.25

use (
	.
	./aiplatform
	./appengine
	./appengine/go11x/cloudsql
	./appengine/go11x/helloworld
	./appengine/go11x/tasks/handle_task
	./appengine/go11x/warmup
	./appengine_flexible/analytics
	./appengine_flexible/datastore
	./appengine_flexible/go115_and_earlier
	./appengine_flexible/helloworld
	./appengine_flexible/pubsub
	./appengine_flexible/redis
	./appengine_flexible/static_files
	./appengine_flexible/storage
	./appengine_flexible/websockets
	./asset
	./auth
	./automl
	./bigquery
	./bigtable
	./cdn
	./cloudsql/mysql/database-sql
	./cloudsql/postgres/database-sql
	./cloudsql/sqlserver/database-sql
	./compute
	./compute/quickstart
	./connectgateway
	./container_registry
	./datacatalog
	./dataflow
	./dataproc
	./datastore
	./dialogflow
	./dlp
	./docs
	./documentai
	./endpoints
	./eventarc/audit_iam
	./eventarc/audit_storage
	./eventarc/generic
	./eventarc/pubsub
	./eventarc/storage_handler
	./eventarc/testing
	./firestore
	./functions
	./functions/bigtable
	./functions/codelabs/gopher
	./functions/console_snippets/firebase_auth
	./functions/console_snippets/firebase_rtdb
	./functions/console_snippets/firestore
	./functions/console_snippets/google_analytics
	./functions/firebase/hello
	./functions/firebase/upper
	./functions/functionsv2/firebase/hellofirestore
	./functions/functionsv2/firebase/remoteconfig
	./functions/functionsv2/firebase/rtdb
	./functions/functionsv2/firebase/upper
	./functions/functionsv2/helloauditlog
	./functions/functionsv2/hellopubsub
	./functions/functionsv2/hellostorage
	./functions/functionsv2/helloworld
	./functions/functionsv2/imagemagick
	./functions/functionsv2/label_gce_instance
	./functions/functionsv2/log
	./functions/functionsv2/ocr/app
	./functions/functionsv2/response_streaming
	./functions/functionsv2/slack
	./functions/functionsv2/tips
	./functions/functionsv2/tips/infinite_retries
	./functions/helloworld
	./functions/http
	./functions/imagemagick
	./functions/log
	./functions/memorystore/redis
	./functions/ocr/app
	./functions/security
	./functions/slack
	./functions/spanner
	./functions/tips
	./functions/tips/infinite_retries
	./functions/typed/greeting
	./genai
	./getting-started
	./getting-started/authenticating-users
	./getting-started/background
	./getting-started/bookshelf
	./getting-started/gce
	./getting-started/gopher-run
	./getting-started/sessions
	./healthcare
	./iam
	./iap
	./internal/cloudrunci/testingapp
	./internal/gomodversiontest
	./internal/managedkafka
	./jobs
	./kms
	./language
	./logging
	./managedkafka
	./media
	./memorystore
	./modelarmor
	./monitoring
	./opentelemetry/instrumentation/app
	./opentelemetry/trace
	./parametermanager
	./privateca
	./profiler
	./profiler/shakesapp
	./pubsub
	./pubsublite
	./routeoptimization
	./run
	./run/custom-metrics
	./run/grpc-ping
	./run/grpc-server-streaming
	./run/h2c
	./run/hello-broken
	./run/helloworld
	./run/image-processing
	./run/jobs
	./run/logging-manual
	./run/markdown-preview/editor
	./run/markdown-preview/renderer
	./run/pubsub
	./run/sigterm-handler
	./run/system_package
	./run/testing
	./secretmanager
	./securitycenter
	./servicedirectory
	./spanner
	./spanner/opentelemetry
	./spanner/opentelemetry/tracing
	./speech
	./storage
	./storagetransfer
	./tasks
	./testing/gimmeproj
	./texttospeech
	./trace
	./translate
	./vertexai/batch-predict
	./vertexai/context-caching
	./vertexai/controlled-generation
	./vertexai/embeddings
	./vertexai/evaluation
	./vertexai/function-calling
	./vertexai/gemma2
	./vertexai/multimodal-video-with-audio
	./vertexai/safety-settings
	./vertexai/snippets
	./vertexai/stream-multimodality-basic
	./vertexai/stream-text-basic
	./vertexai/token-count
	./videointelligence
	./vision
	./workflows/executions
)
