go 1.21.0

use (
	./aiplatform
	./appengine
	./asset
	./auth
	./bigquery
	./bigtable
	./compute
	./container_registry
	./datacatalog
	./dataproc
	./datastore
	./dialogflow
	./dlp
	./docs
	./eventarc/testing
	./firestore
	./functions/bigtable
	./functions/functionsv2/imagemagick
	./functions/security
	./functions/tips/contexttip
	./healthcare
	./iam
	./internal/cloudrunci/testingapp
	./jobs
	./kms
	./language
	./logging
	./managedkafka
	./media
	./memorystore
	./monitoring
	./opencensus
	./opentelemetry/instrumentation/app
	./opentelemetry/trace
	./privateca
	./profiler
	./pubsub
	./pubsublite
	./routeoptimization
	./run/custom-metrics
	./run/testing
	./secretmanager
	./securitycenter
	./servicedirectory
	./spanner
	./speech
	./storage
	./storagetransfer
	./tasks
	./texttospeech
	./translate
	./vertexai/batch-predict
	./vertexai/chat
	./vertexai/context-caching
	./vertexai/controlled-generation
	./vertexai/function-calling
	./vertexai/gemma2
	./vertexai/multimodal
	./vertexai/multimodal-all
	./vertexai/multimodal-audio
	./vertexai/multimodal-multiple
	./vertexai/multimodal-pdf
	./vertexai/multimodal-video
	./vertexai/multimodal-video-with-audio
	./vertexai/safety-settings
	./vertexai/safety-settings-multimodal
	./vertexai/snippets
	./vertexai/stream-multimodality-basic
	./vertexai/stream-text-basic
	./vertexai/system-instruction
	./vertexai/token-count
	./videointelligence
	./vision
)
