<!doctype html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
      content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Security error</title>
  <link rel="stylesheet" href="/public/interstitial.css">
  <script src="/public/interstitial.js"></script>
</head>
<body id="body">
  <div class="interstitial-wrapper">
    <div id="main-content">
      <div class="icon" id="icon"></div>
      <div id="main-message">
        <h1>{{template "heading" .}}</h1>
        <p>{{template "message" .}}</p>
      </div>
    </div>
    <div class="nav-wrapper">
      <button id="primary-button">Back to safety</button>
      <button id="details-button" class="small-link">Details</button>
    </div>
    <div id="details" class="hidden">
      <p>{{template "details" .}}</p>
    </div>
  </div>
</body>
</html>
