{{define "heading"}}The site ahead contains harmful programs{{end}}
{{define "message"}}Attackers on {{.Url.Host}} might attempt to trick you into installing programs that harm your browsing experience (for example, by changing your homepage or showing extra ads on sites you visit).{{end}}
{{define "details"}}Google Web Risk recently <a href="https://www.google.com/transparencyreport/safebrowsing/diagnostic/index.html?hl=en-US#url=http://{{.Url}}">found harmful programs</a> on {{.Url.Host}}.{{end}}
