body {
  font-family: Arial, sans-serif;
  color: blue;
}

/* [START gae_go_env_loading_style] */
div.mdl-progress::after {
  display: block;
  content: 'Authenticating...';
  margin: 30px auto;
  text-align: center;
}
/* [END gae_go_env_loading_style] */
