{{/*
  Copyright 2015 Google Inc. All rights reserved.
  Use of this source code is governed by the Apache 2.0
  license that can be found in the LICENSE file.
*/}}
<h3>Book</h3>

<div class="btn-group">
  <form action="/books/{{.ID}}:delete" method="post">
    <a href="/books/{{.ID}}/edit" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      <span>Edit book</span>
    </a>
    <button class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      <span>Delete book</span>
    </button>
  </form>
</div>

<div class="media">
  <div class="media-left">
    <img src="{{if .ImageURL}}{{.ImageURL}}{{else}}https://placekitten.com/g/200/300{{end}}">
  </div>
  <div class="media-body">
    <h4>{{.Title}} <small>{{.PublishedDate}}</small></h4>
    <h5>By {{if .Author}}{{.Author}}{{else}}unknown{{end}}</h5>
    <p>{{.Description}}</p>
    <small>Added by {{.CreatedByDisplayName}}</small>
  </div>
</div>
